# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments / installed libraries
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# VS Code local settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Build / packaging files
build/
dist/
*.egg-info/

# Logs
*.log